.estudantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
}

.estudantesTituloBotao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 57px;
}

.tituloEstudantes {
    font-size: 24px;
}

.botaoAdicionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    width: 218px;
    height: 33px;
    background: #A700D0;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 14px;
}
.botaoAdicionar:hover{
    cursor: pointer;
    background: #8603a7;
}
.secaoCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 820px) {
    .estudantesTituloBotao {
        width: 658px;
        margin: 70px 0;
    }

    .secaoLista {
        margin-top: 90px;
    }
}

@media screen and (max-width: 500px) {
    .estudantesTituloBotao {
        flex-direction: column;
        margin: 70px 0;
    }

    .secaoLista {
        margin-top: 90px;
    }
}